<!DOCTYPE html>
<html lang="en"  ng-app="myApp" class="bdr"   ng-controller="cont">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="StyleSheet.css">
    <link rel="stylesheet" type="text/css" href="bootstrap-theme.css">
    <link rel="stylesheet" type="text/css" href="bootstrap.css">
    <link rel="stylesheet" type="text/css" href="angular-growl.css">
    <title>{{Title}}</title>
</head>
<div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Mohax</a>
            </div>

            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a>{{Prestige}} Prestige</a></li>
                    <li><a>{{Money|currency}}</a></li>
                    <li><a>{{Age}} Years Old</a></li>
                    <li><a>Turn {{Turn}}</a></li>
                    <li><a>{{Bottles}} Bottles </a></li>
                    <li><a>Rent Payments in: {{Rent}} Days</a></li>
                    <li><a>Bottle price: {{BottlePrice|currency}}</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Settings<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a>More Info</a></li>
                            <li><a style="color:red;" ng-click="reset()">Reset game</a></li>
                            </ul>
                        </li>
                    </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a>Ver: {{Ver}}</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="row">
  <div class="container-fluid">
      <div class="col-md-6">
          <div class="panel panel-primary">
              <div class="panel-heading">
                  <p class="panel-title">Actions</p>
              </div>
              <div class="panel-body">
                  <div class="row">
                  <div class="col-md-4 action">
                  <button class="btn btn-default action" ng-click="WorkActions(2)">
                      Sell bottles
                  </button>
                      </div>
                      <div class="col-md-4 ">
                          <button class="btn btn-default action" ng-click="dead()">
                              Die
                          </button>
                          </div>
                          <div class="col-md-4 action">
                              <button class="btn btn-default action" ng-click="addSpecialWarnMessage()">
                                  Sell bottles
                              </button>
                              </div>
                      </div>
                  <div class="row">
                      <div class="col-md-3">

                      </div>
                      <div class="col-md-6">
                          <div class="alert alert-info" style="margin-top:10px;">
                              {{Msg}}
                          </div>
                      </div>
                      <div class="col-md-3">

                      </div>
                  </div>

              </div>
          </div>
          <div class="panel panel-primary">
              <div class="panel-heading"><p class="panel-title">Stats</p></div>
              <div class="panel-body">
          <div class="progress">
              <div class="progress-bar progress-bar-striped" ng-class="MoodBar" aria-valuenow="{{Mood}}" aria-valuemin="0" aria-valuemax="100" style="width:{{Mood}}%;">
                  <p style="color:grey;">Mood</p>
              </div>
          </div>
                  <div class="progress">
                      <div class="progress-bar progress-bar-striped" ng-class="HungerBar" aria-valuenow="{{Hunger}}" aria-valuemin="0" aria-valuemax="100" style="width: {{Hunger}}%">
                          <p style="color:grey;">Hunger</p>
                      </div>
                  </div>
                  <div class="progress">
                      <div class="progress-bar progress-bar-striped" ng-class="HealthBar" aria-valuenow="{{Health}}" aria-valuemin="0" aria-valuemax="100" style="width: {{Health}}%">
                          <p style="color:grey;">Health</p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="alert alert-danger" ng-show="HungerShow" id="hunger alert">
              <strong>Beware! you are not getting your nutrition!</strong>
          </div>
          <div class="alert alert-danger" ng-show="MoodShow" id="Mood Alert">
              <strong>Caution, you aren't entertained enough! </strong>
          </div>
          <div class="alert alert-danger" ng-show="HealthShow" id="Health Alert">
              <strong>Oh My! you need to look after your health!</strong>
          </div>
</div>
      <div class="col-md-6">
          <ul class="nav nav-tabs nav-justified">
              <li class="ng-class: JobsA;" ng-click="JobsAc()"><a>Jobs</a></li>
              <li class="ng-class: HousesA;" ng-click="HousesAc()"><a>Houses</a></li>
              <li class="ng-class: WorkA;" ng-click="WorkAc()"><a >Work</a></li>
              <li class="ng-class: TransportA;" ng-click="TransportAc()"><a >Transport</a></li>
              <li class="ng-class: EatA;" ng-click="EatAc()"><a>Eat</a></li>
              <li class="ng-class: Misc;" ng-click="MiscAc()"><a>Misc.</a></li>
          </ul>
          <div class="tab-content">
              <div id="Jobs-Tab" ng-show="JobsA=='active'">
                  <div class="container-fluid">
                      <div class="row" >
                          <div class="col-md-6">
                              <button style="width:100%; margin-top: 20px" class="btn; ng-class: Job[0]">
                                  Work at McDonalds
                              </button>
                              <button style="width:100%; margin-top: 20px" class="btn; ng-class: Job[1]">
                                  Work at SubWays
                              </button>
                          </div>
                          <div class="col-md-6">
                              <button style="width:100%; margin-top: 20px" class="btn; ng-class: Job[2]">
                                  Deliver Pizzas
                              </button>
                              <button style="width:100%; margin-top: 20px" class="btn; ng-class: Job[3]">
                                  Be a ganster
                              </button>
                          </div>
                      </div>
                  </div>
              </div>
              <div id="HousesTab" ng-show="HousesA=='active'">
                  <div class="container-fluid">
                      <div class="row">
                          <div class="col-md-6">
                              <button style="margin-top:20px; width:100%;" class="btn; ng-class: House[0]">
                                  Live in a box 10.00$
                              </button>
                              <button style="margin-top:20px; width:100%;" class="btn; ng-class: House[1]">
                                  Live under The bridge 30.00$
                              </button>
                          </div>
                          <div class="col-md-6">
                              <button style="margin-top:20px; width:100%;" class="btn; ng-class: House[2]">
                                  Rent a Room (50 $ a month)
                              </button>
                              <button style="margin-top:20px; width:100%;" class="btn; ng-class: House[3]">
                                  Rent an appartement
                              </button>
                          </div>
                      </div>
                  </div>
              </div>
              <div id="WorkTab" ng-show="WorkA=='active'">
                  <div class="container-fluid">
                      <div class="row">
                          <div class="col-md-2">
                          </div>
                          <div class="col-md-8">
                              <div ng-repeat="Work in Works">
                              <button style="width:100%; margin-top:20px;" class="btn; btn-default" ng-click="WorkActions(Work.id)" ng-show="Work.conditions">
                                  {{Work.Msg}}
                              </button>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div id="TransportTab" ng-show="TransportA=='active'">
                  <div class="container-fluid">
                      <div class="row">
                          <div class="col-md-2"></div>
                          <div class="col-md-8">
                              <button style="width:100%; margin-top:20px;" class="btn; ng-class: Transport[0]">
                                  Buy shoes
                              </button>
                          </div>
                      </div>
                  </div>
              </div>
              <div id="EatTab" ng-show="EatA=='active'">
                  <div class="container-fluid">
                      <div class="row" >
                          <div class="col-md-2"></div>
                          <div class="col-md-8">
                              <button style="width:100%; margin-top: 20px" class="btn; btn-default" ng-click="WorkActions(3);">
                                  Search Trash
                              </button>
                          </div>
                      </div>
                  </div>
              </div>
              <div id="MiscTab" ng-show="MiscA=='active'">
                  <div class="container-fluid">
                      <div class="row" >
                          <div class="col-md-6">
                              <div class="panel panel-info" style="margin-top:10px;">
                              <div class="panel-heading">
                                  Mood
                                  </div>
                              <div class="panel-body">
                              <button style="width:100%; margin-top: 20px" class="btn; btn-default" ng-click="WorkActions(4);">
                                  Rest in park
                              </button>
                              <button style="width:100%; margin-top: 20px" class="btn; btn-default">
                                  Drink Beer at bar
                              </button>
                                  </div>
                                  </div>
                          </div>
                          <div class="col-md-6">
                              <div class="panel panel-info" style="margin-top:10px;">
                                  <div class="panel-heading">
                                      Health
                                  </div>
                                  <div class="panel-body">
                              <button style="width:100%; margin-top: 20px" class="btn; btn-default" ng-click="WorkActions(5)">
                                  Search for Meds
                              </button>
                              <button style="width:100%; margin-top: 20px" class="btn; btn-default">
                                  Go to public hospital
                              </button>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      </div>
        </div>
    </div>
<!-- Scripts -->
<script src="Lists.js"></script>
<script src="jquery.js"></script>
<script src="bootstrap.js"></script>
<script src="angular.js"></script>
<script src="AngularScript.js"></script>

</body>
</html>